* {margin: 0; padding: 0;}

body {
	background: #eee;
	color: #555555;
	text-align: justify;
	min-width: 300px;
}

ul {
	margin: 10px;
}

h1 {
	margin-bottom: 10px;
	color: #111111;
}

a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

img {
	border:none;
}

p {
	margin: 0 0 10px;
	line-height: 1.4em;
	font-size: 1.2em;
}

aside {
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.4em;
}

aside, footer, header, nav, section { 
    display: block;
}


#wrapper {

	max-width: 800px;
	margin: auto;
	padding: 2%;
}

#main {
	width: 60%;
	margin-right: 5%;
	float: left;
}
aside {
	width: 35%;
	float: right;
}


header h1 {
	color: #4A708B;
	float: left;
	display: block;
	margin: 0 10px 20px 0;
}


header nav {
	float: right;
}

header nav li {
	display: inline;
	margin-left: 15px;
}
header nav ul li a {
	text-decoration:none;
	color:#333;
}

#goTo {
	display: none;
}
#goTo li {
	background: #ccc;
}
			
#photo {
	float: left;
	margin-bottom: 15px;
	width: 100%;
}

#photo img {
	display: block;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 680px) {
	#goTo {
		display: block;
	}

	header nav, #main, aside {
		float: left;
		clear: left;
		margin: 0 0 15px; 
		width: 100%;
	}
	header nav ul {
		margin: 0px;
	}
	header nav li {
		margin: 0;
		background: #ccc;
		display: block;
		margin-bottom: 3px;
	}
	header nav a {
		display: block;
		padding: 10px;
		text-align: center;
	}
	header h1 {
		width: 100%;
		display: block;
		text-align: center;
	}
	
	p {
		font-size: 1.1em;
	}
	aside {
		font-size: 1.1em;
	}
	#photo {display:none;}
}
